*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../images/fondo.jpg");
}

h1{
    padding: 20px;
    font-size: 4rem;
    text-align: center;
    color: white;
}

header{
    width: 1049px;
    background-image: linear-gradient(red, yellow);
    margin: 0 auto;
    margin-top: 1rem;
}

.head{
    display: flex;
    align-items: right;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 90%;
    align-items: center;
}

nav{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 90%;
    align-items: center;
    margin-left: 9rem;
}

nav ul{
    margin-left: 150px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    background: rgb(255, 255, 255);
    padding: 10px;
    margin-right: 25px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: solid 5px black;
}

.clear{
    clear: both;
}

nav ul li a:hover{
    color: white;
    background: black;
}

#yt:hover{
    border-color: red;
}

#insta:hover{
    background: rgb(0, 0, 0);
    border-top-color: #791b83 ;
    border-left-color: #e820bc;
    border-right-color: #e820bc;
    border-bottom-color:#da4c2f;
}

#spoti:hover{
    border-color: rgb(12, 245, 109);
}

h2{
    font-size: 2.5rem;
    margin: 100px 25px 25px 25px;
    font-weight: bold;
}

.text-left{
    float: left;
    width: 55%;
    text-align: justify;
    padding: 20px;
    margin-top: 5px;
    font-size: 2rem;
}


.photo1{
    width: 40%;
    height: 400px;
    float: right;
    border: 4px solid black;
    margin-right: 10px;
}

h3{
    font-size: 2.5rem;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    background: rgb(68, 69, 70);
}

.right {
    text-align: right;
}

.inicio{
    display: inline-block;
}

.text-right{
    width: 97%;
    text-align: justify;
    font-size: 2rem;
    margin: 10px;
}



.img-left{
    width: 40%;
    height: 400px;
    float: left;
    border: solid 4px black;
    margin-left: 10px;
    margin-right: 20px;
}

.footer{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 90%;
    align-items: center;
    margin-left: 9rem;
}
